#tabuleiro {
	justify-self: center;
	margin: 10px;
}

body {
	display: grid;
	justify-content: center;
	background-color: #01604c;
	background-image: url(assets/background-reversi.jpg);
	background-size: contain;
	background-repeat: round;
}

@media (min-width:1920px) {
  
	body {
		display: grid;
		justify-content: center;
		background-color: #01604c;
		background-image: url(assets/background-reversi.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}
  
}

h1 {
	justify-self: center;
}

button {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border-color: black;
	border: 4px solid;
	background-color: white;
	display: inline-block;
}

.botoes {
	display: inline-block;
	justify-self: center;
	justify-content: center;
}

#pontuacao {
	display: none;
	justify-self: center;
	justify-content: space-between;
	width: 300px;
	margin: 15px;
}

p {
	justify-self: center;
	justify-content: center;
	display: flex;
	color: rgb(255, 255, 255);
	text-shadow:
	-3px -2px 3px rgb(0, 0, 0),
	-3px 2px 3px rgb(0, 0, 0),
	1px -2px 0px rgb(0, 0, 0),
	1px 0px 0px rgb(0, 0, 0);
	font-size: 20pt;
}

#vez {
	color: rgb(255, 255, 255);
	text-shadow:
	-3px -2px 3px rgb(0, 0, 0),
	-3px 2px 3px rgb(0, 0, 0),
	1px -2px 0px rgb(0, 0, 0),
	1px 0px 0px rgb(0, 0, 0);
	font-size: 15pt;
}

.circulo {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	display: inline-block;
	border: 1px solid;
}

.pontos {
	margin: 5px;
	color: black !important;
}

span,
p {
	color: white;
}

#divVez {
	display: none;
	justify-self: center;
	justify-content: center;
}

#titulo {
	display: flex;
	justify-self: center;
	justify-content: center;
	width: 100%;
	height: 180px;
}

#titulo2 {
	display: none;
	justify-self: center;
	justify-content: center;
	width: 100%;
	height: 180px;
}

td, tr {
	border: 0.25px solid;
	text-align: center;
	vertical-align: center;
	width: 150px;
	padding: 5px;
}

#instrucoes {
	justify-self: left;
}
  
div.menu-icon{
	width: 100%;
	height: 100%;
}
  
div.bt-menu{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: width 0.5s, height 0.8s;
}

.blur {
	width: 435px;
	height: 200px;
	filter: blur(8px);
	-webkit-filter: blur(5px);
	position: absolute;
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

div.bt-menu:hover{
	width: 100%;
	height: 220px;
	border: 5px black solid;
}

div.bt-menu:hover .blur{
	height: 220px;
	background-color:#19715e;
	transition: width 0.5s, height 0.8s;
}

.imgagemOthello {
	display: block;
	position: relative;
	top: 0;
	left: 0;
}
  
div.bt-menu:hover ul.menu {
	display: block;
	position: relative;
	top: 0;
	left: 0;
}

ul.menu li{
	display: inline-block;
	width: 100%;
	font-size: small;
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-shadow:
		-3px -2px 3px rgb(0, 0, 0),
		-3px 2px 3px rgb(0, 0, 0),
		1px -2px 0px rgb(0, 0, 0),
		1px 0px 0px rgb(0, 0, 0);
}

.popup {
    text-align:center;
    position: absolute;
    top: 40%;
    z-index:50;
    width: 400px;
    background-color: #00bc8c;
    border:5px solid black;
}

.bg {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
}

dialog::backdrop {
	backdrop-filter: blur(5px);
	background-color: #00bc8c;
}
